{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
<h2>{{ user.username }}</h2>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>

<h3>Feeback</h3>
    <ul>
        {% for feedback in user.feedback %}
        <li>{{ feedback.title }}
            <small>{{ feedback.content }}</small>
            <form>
                {{form.hidden_tag()}}
                <button class = "btn btn-info" formmethod="GET" formaction="/feedback/{{feedback.id}}/update">Edit</button>
                <button class = "btn btn-danger" formmethod="POST" formaction="/feedback/{{feedback.id}}/delete">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <a href="/users/{{ user.username }}/feedback/new" class="btn btn-success">Add Feedback</a>

    <form>
        <button class="btn btn-danger btn-sm" formaction="/users/{{ user.username }}/delete" formmethod="POST">Delete User</button>
    </form>
{% endblock %}